.card{
    margin-top: 50px;
    margin-bottom: 50px;
}
.data{
    text-align: center;
    font-weight: bold;
    font-size: 15px ;
}
.progress{
    margin-top: 10px;
}
#progress{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
body{
    background-color: gray;
}
.popup-2{
    background-color: rgba(0,0,0, 0.5) !important;
}
.popup-overlay{
    background: #5d585875 !important;
}
.popup-content{
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    top: 100px !important;
    left: 650px !important; 
    
}
#popup-msg{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    color: green;

}
@media only screen and (max-width: 480px){
    .popup-content{
        position: absolute;
        z-index: 999;
        pointer-events: auto;
        top: 150px !important;
        left: 100px !important; 
    }
}